<!DOCTYPE html>
<html>

<head>
		<meta charset="utf-8" />
		<meta
			http-equiv="x-ua-compatible"
			content="ie=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<title>Lightning Out POC</title>

		<!--Load Lightning Out Script from Salesforce-->
		<script src="https://fazercs--partial.sandbox.my.site.com/lightning/lightning.out.js"></script>
</head>


<body>
	<%-include('../partials/nav.ejs', {page: 'hardcodedPublic'})%>
	
	<center>
		<h1>Unauthorized</h1>
		<div id="lightningOutContainer"></div>
	</center>
</body>


<script>
	//Unauthorized
	$Lightning.use(
		"c:LightningOutPublic",
		() => {
			$Lightning.createComponent(
				"c:mfPollBanner",
				{ parameter1: "JSON can be used to send info to the LWC component, like with Experience Builder configs" },
				"lightningOutContainer",
				(cmp) => {
					console.log("LWC component was created (unauthorized)");
				}
			);

			$Lightning.createComponent(
				"c:mfServices",
				{ parameter1: "JSON can be used to send info to the LWC component, like with Experience Builder configs" },
				"lightningOutContainer",
				(cmp) => {
					console.log("LWC component was created (unauthorized)");
				}
			);
		},
		"https://fazercs--partial.sandbox.my.site.com"
	);
</script>

</html>