<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta
		http-equiv="x-ua-compatible"
		content="ie=edge"
	/>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1"
	/>
	<title>Lightning Out POC</title>

	<!--Load Lightning Out Script from Salesforce-->
	<script src="<%-experienceSiteUrl%>/lightning/lightning.out.js"></script>
</head>


<body>
	<%-include('../partials/nav.ejs', {page: 'home'})%>

	<center>
		<h3>
			Click some of the links in the nav to start testing, each page has a bit different variation of setup.
		</h3>
	</center>
</body>


<script>

</script>

</html>