<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta
		http-equiv="x-ua-compatible"
		content="ie=edge"
	/>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1"
	/>
	<title>Lightning Out POC</title>

	<!--Load Lightning Out Script from Salesforce-->
	<script src="<%-experienceSiteUrl_FI%>/lightning/lightning.out.js"></script>
</head>


<body>
	<%-include('../partials/nav.ejs',{page: 'public'})%>

		<center>
			<h1>Unauthorized</h1>
			<div
				style="width: 80%;"
				id="divContainer"
			></div>
		</center>
</body>


<script>
	//Unauthorized
	$Lightning.use(
		"<%-appNamePublic%>",
		() => {
			$Lightning.createComponent(
				"c:mfMyProfile",
				{
					context: 'lighting_out',
					myfazerUserId: '0bc01b36-46c6-4651-9186-33b463f4dd73',
					defaultCountryCode: 'FI',
					preferenceCategoryNamesSetting: "'Hyvinvointi ja terveys', 'Reseptit', 'Kahvilat ja ravintolat', 'Tapahtumat', 'Kilpailut ja vaikuttaminen', 'Tuotteet'"
				},
				"divContainer",
				(cmp) => {
					console.log("LWC component was created (unauthorized)");
				}
			);
		},
		"<%-experienceSiteUrl_FI%>"
	);
</script>

</html>